

.projetos{
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.card{
    width: 18rem;
    height: 30rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6) ;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-action);
    font-weight: bolder;
    color: #8A2387;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn{
    background: #8A2387;
    background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  
    background: linear-gradient(to left, #F27121, #E94057, #8A2387);
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    cursor: pointer;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
